.chart-circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position:relative;
}
.chart-circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.chart-item:not(.last-chart) .recharts-cartesian-axis.xAxis{
    display: none;
}

.chart-heatmap > div{
    -webkit-mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.0) 50%)!important;
    mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.0) 50%)!important;
}
.chart-heatmap canvas{

}